<div class="container-fluid" *ngIf="kcService.kc.authenticated">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Facture</h6>
        </div>
        <div class="card-body" id="htmlData" #htmlData>
            <div class="table-responsive"  >
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div id="custom-search" class="search">
                                <div class="search float-">
                                    Bienvenue {{kcService.kc.tokenParsed.name}}
                                </div>
                                <div class="search float-end">
                                    Search: <input size="22" type="text" placeholder="Search..">
                                </div>
                            </div>
                            <br>
                            <table class="table table-light table-striped">
                            <thead>
                                <tr>
                                    <th class="border-0">Produits</th>
                                    <th class="border-0">Qte Damande</th>
                                    <th class="border-0">Prix unitaire</th>
                                    <th class="border-0">Totale</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- | filter:Search; let index = index; -->
                                <tr class="border-0" *ngFor="let p of products ; let index = index;">
                                    <td>{{ p.libele }}</td>
                                    <td>{{ p.qteDemande }}</td>
                                    <td>{{ p.prix }}</td>
                                    <td>{{ p.prixTotal }}</td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                        <div class="float-end">
                            <h5>Totale : {{totale | number}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body float-end">
            <button class="btn btn-primary float-end" type="submit" (click)="makePdf()">Imprimer</button>
        </div>
    </div>
</div>
