<!-- Begin Page Content -->
<div class="container-fluid" *ngIf="kcService.kc.authenticated">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Produits</h1>
  <div class="card shadow mb-2">
    <div class="card-body">
      <div [hidden]='hideFormError' class="alert alert-danger col-md-4" role="alert">
        {{ formMessage }}
      </div>

      <div [hidden]='hideFormOk' class="alert alert-success col-md-4" role="alert">
        {{ formMessage }}
      </div>
      <form>

        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationDefault01">Nom</label>
            <input type="text" class="form-control" name="nom" id="validationDefault01" [(ngModel)]="produit.nom" placeholder="Nom" required>
          </div>
          <div class="col-md-8 mb-3">
            <label for="validationDefault02">Description</label>
            <input type="text" class="form-control" name="Description" id="validationDefault02" [(ngModel)]="produit.description" placeholder="Description" required>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="validationDefault02">Prix</label>
            <input type="number" class="form-control" name="Prix" id="validationDefault02" [(ngModel)]="produit.prix" placeholder="Prix" required>
          </div>
          <div class="col-md-6 mb-3">
            <label for="validationDefault02">Qte</label>
            <input type="number" class="form-control" name="Qte" id="validationDefault02" [(ngModel)]="produit.qte" placeholder="Qte" required>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="validationDefault02">Rubrique</label>
            <select class="form-control" name="rubrique" [(ngModel)]="produit.rubrique" required>
              <option [ngValue]="rub" *ngFor="let rub of rubriques;let index=index">{{rub.nom}}</option>
            </select>
          </div>
        </div>
        <div class="float-end">
          <button class="btn btn-primary float-end" type="submit" (click)="onSubmit()">Submit form</button>
          <button class="btn btn-danger mr-2 float-end" type="submit" (click)="onCancel()">Cancel</button>
        </div>
        <button class="btn btn-secondary float-start" type="submit" data-toggle="collapse" href="#produits" aria-expanded="false" aria-controls="collapseExample">Tous les produits</button>

      </form>
    </div>
  </div>

  <ngx-ui-loader></ngx-ui-loader>
  <!-- DataTales Example -->
  <div class="collapse show" id="produits">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Liste des produits</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <div id="custom-search" class="search">
                  <div class="search float-end">
                    Search: <input size="22" type="text" placeholder="Search.." [(ngModel)]="search">
                  </div>
                </div><br>
                <table class="table table-light table-striped">
                  <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Rubrique</th>
                    <th>Qte</th>
                    <th>Prix</th>
                    <th></th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <!-- | filter:Search; let index = index; -->
                  <tr class="border-0" *ngFor="let p of produits | filter:search; let index=index">
                    <td>{{p.nom}}</td>
                    <td>{{p.description}}</td>
                    <td>{{p.rubrique.nom}}</td>
                    <td>{{p.qte}}</td>
                    <td>{{p.prix}}</td>
                    <td>
                      <button class="btn btn-outline-secondary" (click)="onSelectProduit(p)">
                        <img id="btn-back-to-top" src="assets/img/edit-24.svg" />
                      </button>
                    </td>
                    <td>
                      <button class="btn btn-outline-danger" (click)="openDialogDelete(index)">
                        <img src="assets/img/delete.svg" />
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
