<!-- Begin Page Content -->
<div class="container-fluid" *ngIf="kcService.kc.authenticated">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Equipes</h1>
  <div class="card shadow mb-2">
    <div class="card-body">
      <div class="row justify-content-around">
        <div class="col-5 card" (click)="openXl(equipe)">
          <img src="assets/img/equipe1.jpeg" class="card-img-top">
          <a class="card-body">
            <h5 class="card-title">Membres de l'équipe de recherche</h5>
          </a>
        </div>
        <div class="col-5 card" (click)="openXl(labo)">
          <img src="assets/img/labo.jpeg" class="card-img-top">
          <a class="card-body">
            <h5 class="card-title">Membres de laboratoire</h5>
          </a>
        </div>
      </div>

      <!-- ============ modals ============ -->
      <ng-template #equipe let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Equipes Labo</h4>
          <button type="button" class="btn btn-edit btn-outline-secondary" (click)="modal.close('Close click');">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
              <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
            </svg>
          </button>
          <button type="button" class="btn btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">Nom</th>
                  <th scope="col">Acronyme</th>
                  <th scope="col">Budger Annuel</th>
                  <th scope="col">Responsable</th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody>

                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </div>
      </ng-template>
      <ng-template #labo let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Equipes Labo</h4>
          <button type="button" class="btn btn-edit btn-outline-secondary" (click)="modal.close('Close click');">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
              <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
            </svg>
          </button>
          <button type="button" class="btn btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">Nom</th>
                  <th scope="col">Acronyme</th>
                  <th scope="col">Budger Annuel</th>
                  <th scope="col">Responsable</th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody>

                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
