<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" routerLink="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>COMMANDES</span>
        </a>
    </li>

    <!-- Divider -->
    <div *ngIf="kcService.kc.authenticated">
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Interface
        </div>
        <li class="nav-item" *ngIf="isAdmin()">
            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Admin</span>
            </a>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Page Admin:</h6>
                    <a class="collapse-item" routerLink="roles">Roles</a>
                    <a class="collapse-item" routerLink="professeurs">Professeurs</a>
                    <a class="collapse-item" routerLink="labos">Laboratoire de recherche</a>
                    <a class="collapse-item" routerLink="equipes">Equipe de recherche</a>
                    <a class="collapse-item" routerLink="projetsRech">projet de recherche</a>
                </div>
            </div>
        </li>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link" routerLink="rubriques">
          <i class="fas fa-archive"></i>
          <span>Rubriques</span></a>
      </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="produits">
              <i class="fas fa-box"></i>
              <span>Produits</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="commandes">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Commandes</span>
            </a>
        </li>
      <!-- Nav Item - Charts -->
      <li class="nav-item" *ngIf="isResponsable()">
        <a class="nav-link" routerLink="membresStructures">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>membres structures de recherche </span>
        </a>
      </li>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
    </div>
</ul>
