<div class="container-fluid" *ngIf="kcService.kc.authenticated">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Tables</h1>
  <div class="card shadow mb-2">
    <div class="card-body">
      <div [hidden]='hideFormError' class="alert alert-danger col-md-4" role="alert">
        {{ formMessage }}
      </div>
      
      <div [hidden]='hideFormOk' class="alert alert-success col-md-4" role="alert">
        {{ formMessage }}
      </div>
      <form>
        
        <div class="form-row">
          <div class="col-md-6 mb-4">
            <label for="validationDefault03">Produit</label>
              <select class="form-control" name="libele" [(ngModel)]="product" required>
                  <option [ngValue]="p" *ngFor="let p of listProducs;let index=index">{{p.libele}}</option>
              </select>
          </div>
          
          <div class="col-md-6 mb-4">
              <label for="validationDefault03">Qte disponible</label>
              <input type="text" class="form-control" name="QTE" id="validationDefault03" [(ngModel)]="product.qte" disabled="true">
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-7 mb-4">
            <label for="validationDefault03">Prix</label>
            <input type="text" class="form-control" name="prix" id="validationDefault03" [(ngModel)]="product.prix" disabled="true">
          </div>
          <div class="col-md-5 mb-4">
            <label for="validationDefault04">Qte demander</label>
            <input type="number" class="form-control" name="qte demande" id="validationDefault04" [(ngModel)]="qteDemande" (change)="event($event)" min="0" step="1">
          </div>
          <div class="col-md-5 mb-4">
            <label for="validationDefault04">Prix total</label>
            <input type="number" class="form-control" name="total" id="validationDefault04" [(ngModel)]="prixTotal" disabled="true">
          </div>
        </div>
        <div class="float-end">
          <button class="btn btn-primary float-end" type="submit" (click)="addToStock()">Submit form</button>
        </div>
        
      </form>
    </div>
  </div>

  <ngx-ui-loader></ngx-ui-loader>
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Produits Stock</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <div id="custom-search" class="search">
                <div class="search float-end">
                    Search: <input size="22" type="text" placeholder="Search..">
                </div>
            </div><br>
              <table class="table table-light table-striped">
                <thead>
                  <tr>
                    <th>Produit</th>
                    <th>Qte</th>
                    <th>Prix totale</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <!-- | filter:Search; let index = index; -->
                  <tr class="border-0" *ngFor="let p of listProductsSelect let index=index">
                    <td>{{p.libele}}</td>    
                    <td>{{p.qteDemande}}</td> 
                    <td>{{p.prixTotal}}</td>
                    <td><img src="assets/img/delete.svg" (click)="onDeleteItem(index)" /></td>
                  
                  </tr>
                </tbody>
              </table>
              
            <div class="float-end">
              <button class="btn btn-primary float-end" type="submit" (click)="onSendCommande()">Acheter</button>
            </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
</div>
  